<h1>New Raffle</h1>

<%= form_with scope: :raffle, url: '/raffle', local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :number_Of_Participants %>
    <%= form.text_field :number_Of_Participants %>
  </p>
  <p>
    <%= form.label :number_Of_Winners %>
    <%= form.text_field :number_Of_Winners %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
